body {
    background-image: url("image/background.jpg");
}

.gloginbutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 12px;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 20px;
    border: 3px;
    border-color: aqua;
    cursor: pointer;
    width: 95%;
}

.gloginbutton:hover {
    opacity: 0.8;
}
.googletext{
    margin-left : 10px;
    font-size: 20px;
    color: #4CAF50;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 100px;
    font-family: 'Slabo 20px', serif;
}

.facebooktext{
    margin-right: 10px;
    font-size: 20px;
    color: cornflowerblue;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 100px;
    font-family: 'Slabo 20px', serif;

}

.thick-green-border {
    border-color: green;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.thick-blue-border {
    border-color: cornflowerblue;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 300px;
}

.fbloginbutton {
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-right: 2px;
    border: 3px;
    border-color: aqua;
    cursor: pointer;
    width: 95%;
}

.fbloginbutton:hover {
    opacity: 0.8;
}

.comment {
    margin: auto;
}

