<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <title>AngularJS login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="script.js" type="text/javascript"></script>
      <link rel="stylesheet" type="text/css" href="index.css">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Import Google Font-->
      <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">


  </head>

  <body ng-app="myApp" ng-controller="myController">

          <div>
              <div>
              <nav class="z-depth-1 white">
                  <div class="nav-wrapper">
                      <img class="brand-logo" src="https://static.wixstatic.com/media/fdd81b_686efce14a114a43be1cabfa310d0a20~mv2.png/v1/fill/w_54,h_54,al_c,usm_0.66_1.00_0.01/fdd81b_686efce14a114a43be1cabfa310d0a20~mv2.png" style="width: 54px; height: 54px; object-fit: contain;">
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                          <li><input class="gloginbutton" type="button" ng-click="onGoogleLogin()" value="Google Login" />  </li>
                          <li><input class="fbloginbutton" type="button" ng-click="onFBLogin()" value="Facebook Login" /></li>
                      </ul>
                  </div>
              </nav>
              <div>
                   <div>
                      <div class="left googletext">
                          <h1>Google Login</h1>
                          <h4>{{gmail.username}}</h4>
                          <h4>{{gmail.email}}</h4>
                          <img class="thick-green-border smaller-image" ng-src = "{{g_image}}" style="width: 100px; height: 100px">
                      </div>
                      <div class="right facebooktext">
                          <h1>Facebook Login</h1>
                          <h4>{{facebook.username}}</h4>
                          <h4>{{facebook.email}}</h4>
                          <img class="thick-blue-border smaller-image" ng-src = "{{fb_image}}" style="width: 100px; height: 100px">
                      </div>
                  </div>
              </div>

              <script type="text/javascript" src="app.js"></script>
              <script type="text/javascript">
                    (function () {
                        var p = document.createElement('script');
                        p.type = 'text/javascript';
                        p.async = true;
                        p.src = 'https://apis.google.com/js/client.js?onload=onLoadFunction';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(p, s);

                    })();

              </script>
              </div>
          </div>
  </body>
</html>
